<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
       <link th:href="@{http://localhost:8080/css/update_employee.css}" rel="stylesheet"/> 
       <link th:href="@{http://localhost:8080/css/sessionalertbox.css}" rel="stylesheet"/> 

</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Profile Page</h2>
    <div th:if="${session.msg}" class="error-text">
           <p th:text="${session.msg}" style="display: none;"></p>
           <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
    </div>
    <form action="#" th:action="@{/admin/employeelist/showFormForUpdate/saveUpdatedEmployee/{id}(id=${employee.id})}" th:object = "${employee}" method="POST">


        <input type = "hidden" th:field="*{id}" />
        <input type = "hidden" th:field="*{role}" />



        <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error"></div>
        <input type="text" th:field="*{fullName}" name="fullName" placeholder="Enter your name"class="form-control mb-4 col-4" required autofocus="autofocus">
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></div>
        <input type="text" th:field="*{address}" name="address" placeholder="Enter your Address"class="form-control mb-4 col-4" required autofocus="autofocus">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
        <input type="email" th:field="*{email}" name="email" placeholder="Enter your email"class="form-control mb-4 col-4" required autofocus="autofocus">
        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error"></div>
        <input type="tel" th:field="*{phone}" name="phone" placeholder="Enter your phone no" onkeyup="this.value = this.value.replace(/[^0-9-]/g, '');" minlength="0" maxlength="10" class="form-control mb-4 col-4" required autofocus="autofocus">
        <div th:if="${#fields.hasErrors('empPosition')}" th:errors="*{empPosition}" class="error"></div>
        <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="error"></div>
        <input type="date" th:field="*{birthDate}" name="birthDate" placeholder="Birthdate dd-mm-yyyy" class="form-control mb-4 col-4" required>
        <div th:if="${#fields.hasErrors('joiningDate')}" th:errors="*{joiningDate}" class="error"></div>
        <input type="date" th:field="*{joiningDate}" name="joiningDate" placeholder="Joining Date dd-mm-yyyy" class="form-control mb-4 col-4" required>
        <input type="text" th:field="*{empPosition}" name="empPosition" placeholder="Enter employee position"class="form-control mb-4 col-4" required autofocus="autofocus">
        <div th:if="${#fields.hasErrors('empDepartment')}" th:errors="*{empDepartment}" class="error"></div>
        <input type="text" th:field="*{empDepartment}" name="empDepartment" placeholder="Enter employee department"class="form-control mb-4 col-4" required autofocus="autofocus">
        <div th:if="${#fields.hasErrors('empSalary')}" th:errors="*{empSalary}" class="error"></div>
        <input type="text" th:field="*{empSalary}" name="empSalary" placeholder="Enter employee salary"class="form-control mb-4 col-4" required autofocus="autofocus">
        

        <button type = "submit" class="btn btn-info col-2">Save Changes</button>
    </form>
    <hr>
    <a th:href="@{/admin/home}">Back to Admin Home Page</a>
</div>
<script type="text/javascript" th:src="@{/js/sessionalertbox.js}"></script>
<script type="text/javascript" th:src="@{/js/datepicker.js}"></script>
</body>
</html>