body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
	display: flex;
	just6ify-content: center;
	align-items: center;
    padding: 160px 0px;
    width: 400px;
	height: 80px;
    margin: 0 auto;
}

.row{
	width: 100%;
}

.col-md-6{
	max-width: 400px;
}


.card-header {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
}

.card-body {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 100%;
    height: 20px;
}

.btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    display: block;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.btn:hover {
    background-color: #218838;
}

