<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
    <meta charset="UTF-8">
    <title>Base Page</title>
    <link th:href="@{http://localhost:8080/css/base.css}" rel="stylesheet"/>
    <link th:href="@{http://localhost:8080/css/index.css}" rel="stylesheet"/>
    <link th:href="@{http://localhost:8080/css/signin_req.css}" rel="stylesheet"/>
    <link th:href="@{http://localhost:8080/css/register.css}" rel="stylesheet"/> 
    <link th:href="@{http://localhost:8080/css/forgotpassword.css}" rel="stylesheet"/> 
    <link th:href="@{http://localhost:8080/css/sessionalertbox.css}" rel="stylesheet"/> 
    <link th:href="@{http://localhost:8080/css/reset_password.css}" rel="stylesheet"/> 
</head>
<body class="bg-light">

<nav class="navbar">
    <div class="navbar-left">
        <a class="navbar-brand" href="#">Employee Management System</a>
        <a class="nav-link" href="/" onclick="changeBackground('/images/img1.png')">Home</a>
    </div>

    <div class="navbar-right">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="register" onclick="changeBackground('/images/img1.png')">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="signin" onclick="changeBackground('/images/img1.png')">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-container">
     <div class="background-container" id="backgroundContainer">
         <div th:replace="${content}"></div>
     </div>
</div>

<script type="text/javascript" th:src="@{/js/datefilled.js}"></script>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
<script type="text/javascript" th:src="@{/js/signin_req.js}"></script>
<script type="text/javascript" th:src="@{/js/datepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/sessionalertbox.js}"></script>
</body>
</html>
